!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %body
    %h1 Eleccion del Usuario:
    %h2= player_throw
    %br
    -if (do_it == 'Elige jugador')
      %h2 Elige Jugador!
      %br
      %a{:href => '?choice=Piedra'} 
        %button Piedra
      %br
      %a{:href => '?choice=Papel'} 
        %button Papel
      %br
      %a{:href => '?choice=Tijeras'} 
        %button Tijeras

    %h1 VS
    %br
    %h1 Eleccion del PC:
    %h2= computer_throw
    %br
    
    %h1 Resultado: 
    -if (do_it == 'Elige jugador')
      %h2 Empieza a jugar!!
    -elsif (answer == 'jugador gana')
      %h2 Ganaste!
    -elsif (answer == 'jugador pierde')
      %h2 Perdiste!!!
    -elsif (answer == 'empate')
      %h2 Empate!
      
    %br
    %a{:href => '/'} 
      %button Juega otra vez   
    
